.download-text {
  border-radius: 5px;
  border-color: white;
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  filter: drop-shadow(0 6px 6px white);
}

.boxed {
  border: 10px solid gray;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #b6b6b6;
}

.profile-section {
  background-color: #4c3058;
}

html {
  background-color: black;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #573864;
  padding: 10px;
}

.chart {
  background-color: #e0eaff;
  margin: 10px;
}

.inner-profile {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}
