<div class="center boxed">
    <% if !@channel.nil? %>
        <h1>Youtube Info</h1>
        <h3> <%= "Channel name: " + @channel.title %> </br> </h2>
        <%= "Subscriber count: " + @channel.subscriber_count.to_s %> </br>
        <%= "View count: " + @channel.view_count.to_s %> </br>
        <%= "Video count: " + @channel.video_count.to_s %>
    <% else %>
        </br> <p> No Youtube account linked. </p> </br>
    <% end %>
</div>