<div class="resource-heading-container d-flex justify-content-between">
  <h1 class="heading">Stream</h1>
  <div class="resource-actions my-auto">
    <%= link_to 'All Streams', streams_path, class: 'primary-button' %>
    <%= link_to 'Edit', edit_stream_path(@stream), class: 'primary-button' %>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-8 offset-2">
    <div class="form-container">
      <div class="form-item">
        <div class="row no-gutters">
          <div class="col-lg-6">
            <label>User</label>
          </div>
          <div class="col-lg-6">
            <label><%= @stream.user_id %></label>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6">
            <label>Title</label>
          </div>
          <div class="col-lg-6">
            <label><%= @stream.title %></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>