<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="caoursel-bg-item"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1>Connect like never before...</h1>
        <p>Ladder is the first social media platform exclusively for the gaming community. Find and connect with fellow gamers and grow your community on Ladder.</p>
        <p><a class="btn primary-button-light" href="#_">Climb the ladder</a></p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="caoursel-bg-item"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1>Stay up to date with your favorite content creators</h1>
        <p>Follow your favorite content creators to see all their interactions with the community, as well as get notified for all their livestreams!</p>
        <p><a class="btn primary-button-light" href="#_">Find gamers</a></p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="caoursel-bg-item"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1>Find people your level that play the games you play</h1>
        <p>Our matching algorithim ensures no gamer will ever be slayin alone!</p>
        <p><a class="btn primary-button-light" href="#_">Start Match!</a></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev carousel-control-item" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next carousel-control-item" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>