<h2>Ladder</h2>
<p>
  <br>Welcome to the Ladder Gaming Network!</br>
  <br>Go to /gamers to see gamer profiles</br>
  <br>Go to /posts to see Posts</br>
  <br>Go to /follows to see followers!</br>
</p>