<div class="resource-heading-container  d-flex justify-content-between">
  <h1 class="heading">New Interest</h1>
  <div class="resource-actions my-auto">
    <%= link_to 'All Interests', interests_path, class: 'primary-button' %>
  </div>
</div>

<%= render 'form', interest: @interest %>
