<p id="notice"><%= notice %></p>

<div class="resource-heading-container">
  <h1 class="heading">Games</h1>
</div>

<div class="resource-body-container">
  <table class="table table-striped resource-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><a href=<%="/games/" + game.id.to_s %>><p><%=game.name%></p></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
