/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  padding-bottom: 80px;
  margin: 0 !important;
}

.primary-button {
  background-color: #5d92d8 !important;
  color: white !important;
  padding: 12px 15px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  background-image: none !important;
  font-weight: 400 !important;
  text-shadow: none !important;
  border: 1px solid white !important;
  text-decoration: none !important;
}

.primary-button:hover {
  background-color: white !important;
  color: #5d92d8 !important;
  border: 1px solid #5d92d8 !important;
}

.primary-button-light {
  background-color: white !important;
  color: #5d92d8 !important;
  padding: 12px 15px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  background-image: none !important;
  font-weight: 400 !important;
  text-shadow: none !important;
  text-decoration: none !important;
  border: 1px solid #5d92d8 !important;
}

.primary-button-light:hover {
  background-color: #5d92d8 !important;
  color: white !important;
  border: 1px solid white !important;
}

.navbar {
  padding: 0 30px !important;
  .navbar-brand {
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    .brand-icon {
      width: 100px;
      display: block;
    }
  }

  .navbar-nav {
    .nav-item {
      list-style-type: none;

      .nav-link {
        text-decoration: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .user-search-form {
    .query-input {
      border-radius: 4px;
      width: 300px;
    }
  }
}

.carousel {
  .carousel-inner {
    .carousel-item {
      height: 400px;

      .caoursel-bg-item {
        background-color: #5d92d8 !important;
        width: 100%;
        height: 100%;
      }

      .carousel-caption {
        bottom: auto;
        top: 10%;
        color: white;

        h1 {
          font-size: 45px;
          letter-spacing: 2.2px;
        }

        p {
          font-size: 16px;
          margin-top: 20px;
          letter-spacing: 0.45px;
          line-height: 25px;
          padding: 0 80px;
        }
      }
    }
  }

  .carousel-control-item {
    &:hover {
      background-color: transparent !important;
    }
  }
}

.marketing-container {
  .marketing-item {
    padding: 30px 0;
    max-height: 400px;

    .marketing-item-img {
      max-width: 555px;
      max-height: 333px;
      display: block;
    }

    .heading {
      font-size: 32px;
      letter-spacing: 1px;
      padding: 0 20px;
    }

    .description {
      margin-top: 40px;
      padding: 0 20px;
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 30px;
    }
  }
}

.features-container {
  margin-top: 30px;

  .feature-item {
    padding: 0 10px !important;
    // padding-bottom: 40px !important;
    position: relative;

    .heading {
      padding-top: 10px;
      font-size: 32px !important;
    }

    .description {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.5px;
      padding-bottom: 60px;
    }

    a {
      position: absolute;
      left: 10px;
      bottom: 0;
    }
  }
}

.footer-container {
  padding: 0 30px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer-brand {
    .brand-icon {
      width: 100px;
      display: block;
    }
  }

  .rights-container {
    font-size: 11px;
    letter-spacing: 2px;
  }
}

.resource-heading-container {
  padding: 0 30px;
  height: 60px;
  background-color: #f8f9fa;
  margin: 0;

  .heading {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 60px;
  }
}

.resource-body-container {
  margin-top: 50px;
  padding: 0 30px;
}

.resource-table {
  thead {
    tr {
      th {
        background-color: #f8f9fa;
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
      }
    }
  }
}

.form-container {
  padding-top: 30px;

  .form-item {
    label {
      cursor: pointer;
    }

    input {
      width: 100%;
    }
  }
}
